@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 6px;  
}

::-webkit-scrollbar-track {
  background: #2c2c31;
}

 ::-webkit-scrollbar-thumb {
  background: #727275;    
  border: none;
}